body {
background-image: url(https://cdn.pixabay.com/photo/2018/05/17/08/34/matrix-3408062_960_720.jpg)


}


section {
  
	text-align: center;
  margin: 2em;
	display: inline-block;
	background-color:#f7f1f7;
	border-radius: 20px; 
	opacity: 0,3;
	
	
}



h1 {
 
font-family: 'Wallpoet', cursive;
 font-size: 50px;
 margin-left: 8em;


}

.caja_cif {
position: relative;
left: 450px;

}

.caja_res {
margin-bottom: 10px;
position: relative;
right: 400px;

}

select {
  width: 50px;
  margin-bottom: 20px;
  margin-block-end: 20em;
  background: rgb(228, 221, 163)
}

#btnDescifrar {

	background: rgb(202, 153, 19);

	border: none;

	border-radius: 5px;

	padding: 10px;

	color: white;

	font-size: 16px;

	transition-duration: .5s;

	margin-top: 15px;

}

#btnCifrar {

background: rgb(10, 146, 180);

	border: none;

	border-radius: 5px;

	padding: 10px;

	color: white;

	font-size: 16px;

	transition-duration: .5s;

	margin-top: 15px;

	position: relative;
	
	left: 450px;

  
}

#btnDescifrar:hover {

	background: white;

	border: 1px solid rgb(208, 211, 67);

	color: black;

	cursor: pointer;



}

#btnCifrar:hover {

  background: white;

	border: 1px solid rgb(37, 40, 218);

	color: black;

	cursor: pointer;


}